Django
Unipath
dj-database-url
dj-static
gunicorn
psycopg2
django-decouple
mock
markdown
django-filter
ipdb
-e git+https://github.com/theatlantic/django-chosen.git#egg=django-chosen
django-crispy-forms