{% extends 'base.html' %}
{% block content %}
{% block extrastyle %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div id="form-modal-body" class="modal-body">

      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% block js %}
    <!--<script>-->

        <!--var formAjaxSubmit = function(form, modal) {-->
            <!--$(form).submit(function (e) {-->
                <!--e.preventDefault();-->
                <!--$.ajax({-->
                    <!--type: $(this).attr('method'),-->
                    <!--url: $(this).attr('action'),-->
                    <!--data: $(this).serialize(),-->
                    <!--success: function (xhr, ajaxOptions, thrownError) {-->
                        <!--if ( $(xhr).find('.has-error').length > 0 ) {-->
                            <!--$(modal).find('.modal-body').html(xhr);-->
                            <!--formAjaxSubmit(form, modal);-->
                        <!--} else {-->
                            <!--$(modal).modal('toggle');-->
                        <!--}-->
                    <!--},-->
                    <!--error: function (xhr, ajaxOptions, thrownError) {-->
                        <!--// handle response errors here-->
                    <!--}-->
                <!--});-->
            <!--});-->
        <!--}-->
        <!--$("#paciente_button").click(function(ev) { // for each edit contact url-->
            <!--console.log('click')-->
             <!--$('#form-modal-body').load('/test-form/', function () {-->
                <!--$('#form-modal').modal('toggle');-->
                <!--formAjaxSubmit('#form-modal-body form', '#form-modal');-->
            <!--1-->

             <!--});-->
        <!--});-->
    <!--</script>-->
{% endblock js %}
    <form class="cad_pac" action="." method="post">
        <div><h1>Cadastro de Atendimento</h1></div>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>
            {{ form.codigo.errors }}
            <label for="{{ form.codigo.id_for_label }}">Codigo:</label>
            {{ form.codigo }}
        </p>
        <p>
            {{ form.paciente.errors }}
            <label for="{{ form.paciente.id_for_label }}">Paciente:</label>
            {{ form.paciente }}
            <!--<button type="button" id="paciente_button"> + </button>-->
            <a data-toggle="modal" href="{% url 'paciente_view' %}" data-target="#form-modal">Click me</a>
        </p>
        <p>
            {{ form.medico.errors }}
            <label for="{{ form.medico.id_for_label }}">Médico:</label>
            {{ form.medico }}
        </p>
        <p>
            {{ form.atendimento_exames.errors }}
            <label for="{{ form.atendimento_exames.id_for_label }}">Exâmes:</label>
            {{ form.atendimento_exames }}
        </p>
        <p>
            {{ form.data_resultado.errors }}
            <label for="{{ form.data_resultado.id_for_label }}">Resultado:</label>
            {{ form.data_resultado }}
        </p>
        <p>
            {{ form.observacao.errors }}
            <label for="{{ form.observacao.id_for_label }}">Observação:</label>
            {{ form.observacao }}
        </p>
        <p>
            {{ form.peso.errors }}
            <label for="{{ form.peso.id_for_label }}">Peso:</label>
            {{ form.peso }}
        </p>
        <p>
            {{ form.altura.errors }}
            <label for="{{ form.altura.id_for_label }}">Altura:</label>
            {{ form.altura }}
        </p>
        <p>
            {{ form.dum.errors }}
            <label for="{{ form.dum.id_for_label }}">DUM:</label>
            {{ form.dum }}
        </p>
        <p>
            {{ form.medicamentos.errors }}
            <label for="{{ form.medicamentos.id_for_label }}">Medicamentos:</label>
            {{ form.medicamentos }}
        </p>
        <p>
            {{ form.senha.errors }}
            <label for="{{ form.senha.id_for_label }}">Senha:</label>
            {{ form.senha }}
        </p>


        <input type="submit" value="Submit">
    </form>

</div>
{% endblock content %}