<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Laboratorio" />
  <meta http-equiv='content-Language' content='en-US' />

  <title>Laboratório</title>


  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
</head>
<body>
  <div id="page">
    <div id="header">
    </div>
    <hr>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    <hr>
  </div>
</body>
</html>