<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>SALOPAR - Sistema de Gerenciamento Laboratorial</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
<body>
<div id="wrap">
	<div><h1>Cadastro de Médico</h1></div>
	<form class="cad_pac">
	<label>CRM:</label>
	<input type="text" name="numero_paciente" class="tam1"/><br>
	<label>Nome do Médico:</label>
	<input type="text" name="nome_paciente" class="tam2"/><br>
	<input type="button" value="Cadastrar">
	</form>	
</div>
</body>
</html>