<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>SALOPAR - Sistema de Gerenciamento Laboratorial</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
<body>
<div id="wrap">
	<div><h1>Cadastro de Paciente</h1></div>
	<form class="cad_pac">
	<label>Número do Paciente:</label>
	<input type="text" name="numero_paciente" class="tam1"/>
	<label style="margin-left: 280px;">Data de Registro:</label>
	<input type="text" name="data_registro" class="tam1"/><br>	
	<label>Nome do Paciente:</label>
	<input type="text" name="nome_paciente" class="tam2"/><br>
	<label>Nome da Mãe:</label>
	<input type="text" name="nome_mae" class="tam2" style="margin-left: 32px;"/><br>
	<label>Sexo:</label>
	<select name="sexo">
	<option value="masculino">Masculino</option>
	<option value="feminino">Feminino</option>	
	</select>
	<label  style="margin-left: 110px;">Data de Nascimento:</label>
	<input type="text" name="dt_nasc" class="tam1"/>
	<label style="margin-left: 116px;">CEP:</label>
	<input type="text" name="cep" class="tam1"/><br>
	<label>Endereço:</label>
	<input type="text" name="endereco" class="tam2" style="margin-left: 58px;"/><br>
	<label>Número:</label>
	<input type="text" name="nro" class="tam1" style="width: 50px;"/>
	<label>Complemento:</label>
	<input type="text" name="complemento" class="tam1"/>
	<label>Bairro:</label>
	<input type="text" name="bairro" class="tam1"/><br>
	<label>Cidade:</label>
	<input type="text" name="cidade" class="tam1"/>
	<label>UF:</label>
	<input type="text" name="uf" class="tam1" style="width: 50px;"/><br>
	<label>RG:</label>
	<input type="text" name="RG" class="tam1"/>
	<label>CPF:</label>
	<input type="text" name="cpf" class="tam1"/><br>
	<label>Telefone:<label>
	<input type="text" name="telefone" class="tam1"/>
	<label>Celular:</label>
	<input type="text" name="celular" class="tam1"/><br>
	<label>Peso:</label>
	<input type="text" name="Peso" class="tam1"/>
	<label>Altura:</label>
	<input type="text" name="altura" class="tam1"/><br>
	<label>Convenio SUS?</label>
	<input type="radio" name="sus_sim" value="sim"/> Sim
	<input type="radio" name="sus_nao" value="nao"/> Não <br>
	<label>Numero do Cartão SUS:</label>
	<input type="text" name="numero_sus" class="tam1"/><br>
	<label>E-mail:</label>
	<input type="text" name="email" class="tam2"/><br>
	<label>Informações do menor:</label>
	<textarea rows="4" cols="100" name="info_menor"></textarea>
	<input type="button" value="Cadastrar">
	</form>	
</div>
</body>
</html>