{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<h1>Laboratorio!</h1>
<a href="/paciente/new" class="btn-btn-danger"> Cadastro de Paciente </a><br>
<a href="/medico/new" class="btn-btn-danger">Cadastro de Médico</a><br>
<a href="/exame/new" class="btn-btn-danger">Cadastro de Exames</a><br>
<a href="/tabela_exames/new" class="btn-btn-danger">Cadastro de Tabela de Exames</a><br>
<a href="/convenio/new" class="btn-btn-danger">Cadastro de Convenio</a><br>
<a href="/atendimento/new" class="btn-btn-danger">Cadastro de Atendimento</a><br>
<a href="/login" class="btn-btn-danger"> Logout </a>
{% endblock content %}
