{% extends 'base.html' %}
{% block content %}
<h1>Postos de Coleta</h1>


<table class="table">
    <thead>
        <th> Posto de Coleta </th>
        <th> Editar </th>
        <th> Deletar </th>
    </thead>
    <tbody>
    {% for posto in object_list %}
    <tr>
        <td><span>{{ posto.nome_posto }}</span></td>
        <td><a href="{{ posto.get_absolute_url }}" >Editar</a></td>
        <td><a href="{{ posto.get_delete_url }}" >Delete</a></td>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock content %}